<!DOCTYPE html>
<html>
<head>
  {{!-- <title>Reset Password - Step 2: Create New Password</title>
  <link rel="stylesheet" type="text/css" href="../public/css/fgpd.css"> --}}
</head>
<body>
  <div class="container">
    <h1>Reset Password - Step 2: Create New Password</h1>
    <form method="post">
      <label for="new-password">New Password:</label>
      <input type="password" id="new-password" name="newPassword" required>

      <label for="confirm-password">Confirm Password:</label>
      <input type="password" id="confirm-password" name="confirmPassword" required>

      <button type="submit">Reset Password</button>
    </form>
  </div>
</body>
<script>
  function validateForm() {
    var password = document.getElementById("newPassword").value;
    var confirmPassword = document.getElementById("confirmPassword").value;
            
    if (password !== confirmPassword) {
      alert("your password and confirm password is incorect!");
      return false;
    }
            
    return true;
  }
</script>
</html>
